*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    font-family: 'Lato', sans-serif;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    font-size: 20px;
}

.logo{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}
ul{
    list-style-type: none;
}

.nav-links{
    display: flex;
    justify-content:space-around;
    width: 40%;
}

.nav-links a{
    text-decoration: none;
    padding: 0.2rem;
}

.nav-links a:hover{
    background-color: rgb(112, 84, 196);
    color: black;
}

.burger{
    display: none;
}

.burger div{
    width: 30px;
    height: 5px;
    background-color: rgb(112, 84, 196);
    margin: 5px;
}

@media screen and (max-width:768px){
    body{
        overflow-y: hidden;
    }
    .nav-links{
        position: absolute;
        left: 0px;
        height: 90vh;
        top: 10vh;
        background-color: aliceblue;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(100%);
        transition: transform 0.5s ease-in;;
    }
    .burger{
        display: block;
        cursor: pointer;
    }

}

.nav-active{
    transform: translateY(0%);
}

/*index.html*/

.index-content{
    min-height: 90vh;
}

.display-gallery{
    min-height: 60vh;
    display: grid;
    place-items: center;
    text-align: center;
}


.index-img-container{
    width: 400px;
    height: auto;
    margin: 0 auto;
}

/* .index-img-container p{
    font-size: 1.5rem;
    margin-top: 5px;
} */

#index-movie{
    object-fit:cover;
    width: 100%;
    height: 100%;
    display: block;
}

.button-container{
    padding: 10px;
}
.prev-btn,.next-btn{
    width: 40px;
    height: 25px;
}

.index-text{
    padding: 10px;
    margin-top: 2rem;
    background-color: aliceblue;
    min-height: 30vh;
}

.index-text h1{
    color: rgb(112, 84, 196);
    margin: 1rem;
    font-size: 30px;

}

.index-text .index-sign-in{
    text-align: center;
    font-size: 20px;
}

.index-sign-in h3{
    padding: 10px;
}

#sign-btn{
    background-color: rgb(112, 84, 196);
    color: white;
    padding: 10px;
    margin-top: 30px;
}

/*Movies*/
.movie-content header{
    text-align: center;
    padding: 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.movie-content header h1{
    color: rgb(112, 84, 196);
}

.movies-gallery{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movieItem{
    display: flex;
    padding: 10px;
    width: 80%;
    margin-bottom: 1rem;

}

.movie-img{
    width: 500px;
    height: auto;
    margin: 0 auto;
}

.movie-img .m-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.movie-text{
    padding: 10px;
    margin-left: 30px;
    width: 20%;
}



/*TV Shows*/
.tvshowItem{
    width: 700px;
    height: auto;
    margin: auto;
    display: flex;
    padding: 10px;
}

.img-tv{
    width: 70%;
    height: 100%;
}

.tvshowItem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-tvshow{
    width: 30%;
    height: 100%;
    padding: 10px;
}

/* about me page */
#about-nav{
    height: 10vh;
}
.about-me-content{
    background-image: url("about-pc.jpg");
    height: 90vh;
    background-size: cover;
}

.about-text{
    padding: 10px;
    width: 300px;
    height: auto;
    margin-left: 2rem;
    font-family: 'Fira Sans', sans-serif;
}

.about-text p{
    font-size: 20px;
    padding: 10px;
}

#special-p{
    font-size: 30px;
    padding: 10px;
    text-align: center;
}


/* register */

.register-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid aliceblue;
}

.register-form h1{
    text-align: center;
    margin-bottom: 20px;
}
.form-element{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.btn{
    margin: 0 auto;
    width: 30%;
}

#register-p{
    text-align: center;
    padding: 10px;
    margin-top: 1rem;
}


#sucreg{
    background-image: url('https://centralaz.edu/wp-content/uploads/2020/05/congratulations.png');
    background-size: cover;
}
